<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escal_Ando - Tienda de montaña y escalada</title>
</head>
<body>
    
    <h2>Alta de Categoria</h2>
    
    <form action="categorias.php"  >
        <label for="categoria"></label> <br/>
        <input type="text" id="categoria" placeholder="Nombre de categoria"><br/>

        <input type="submit" value="Dar de alta nueva categoria">
    </form>
</body>
</html>